global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    errorfile 503 /etc/haproxy/errors/503.http

# Page de stats HAProxy
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

# Frontend principal
frontend todolist_front
    bind *:80
    default_backend todolist_back

# Backend round-robin
backend todolist_back
    balance roundrobin
    option tcp-check
    server app-prod1 192.168.56.11:8000 check
    server app-prod2 192.168.56.13:8000 check

# Page de maintenance si les 2 serveurs sont down
backend maintenance
    errorfile 503 /etc/haproxy/errors/503.http
